php_value error_log "php_error.log"

ErrorDocument 404 /404.html

<Files .htaccess>
Deny from all
</Files>

<Files access_log>
Deny from all
</Files>

<FilesMatch "\.log">
Deny from all
</FilesMatch>

<Files php_error.log>
Deny from all
</Files>

<Files defines.php>
Deny from all
</Files>
