body {
  background-color: #F5F5DC;
  font-size: 14px;
  line-height: 1.5;
  /* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; */
  /* font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; */
  /* font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; */
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
  font-family: 'PT Serif', Georgia, Times, serif;
}

/* float handling: http://www.quirksmode.org/index.html?/css/clearing.html */

div.multicolumn {
  overflow: hidden;
  width: 100%;
}

div.leftcolor {
  background-color: #FFFFCC;
  float: left;
  width: 49%;
}

div.rightcolor {
  background-color: #FFFFCC;
  float: right;
  width: 49%;
}

div.leftplain {
  float: left;
}

div.rightplain {
  float: right;
}

h1 {
  background-color: #FFFF88;
  padding-left: 0.3em;
  margin-bottom: 0.3em;
}

h2 {
  background-color: #663300;
  color: #FFFFEE;
  padding-left: 0.3em;
}

h3 {
  padding-left: 1em;
}

ul ul li {
  list-style-type: circle;
}

img {
  border: 0px;
}

address a {
  padding-left: 1em;
}

p.modified {
  margin: 0.1em;
  font-size: 0.75em;
  font-style: italic;
}
