<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel=stylesheet href="/static/site.css" type="text/css">
    <link href="/static/papertape.ico" type="image/x-icon" rel="shortcut icon">
    <title>Pete Forman's Home Page</title>
  </head>

  <body>

    <h1>Pete Forman's Home Page</h1>

    <ul>
      <li><a href="cpp/stltest.html">STL test suite</a></li>
      <li><a href="c/portability.txt">List of identifiers available
          under various C standards</a></li>
      <li><a href="c/iec60559.c">C program to inspect floating point
          representations</a> plus, optionally,
        <a href="c/dtoa.c">David M. Gay's routines</a></li>
      <li><a href="c/align.c">C program to investigate bus errors</a></li>
      <li><a href="man_pages.html">Online man pages for different
          OSs</a></li>
      <li><a href="svg_in_html.html">Cross browser SVG in HTML</a></li>
    </ul>
    <ul>
      <li><a href="/links">Web links</a></li>
      <!-- <li><a href="kids.html">Links for Kids (a bit stale)</a></li> -->
      <li><a href="/shopping">Shopping in the UK</a></li>
      <li><a href="/">PAYG mobile rates in the UK</a></li>
    </ul>

    <hr>

    <p>
      Hosted by <a href="https://www.openshift.com/">OpenShift Online</a>,
      operated and supported by Red Hat. They do not require ads or popups.
    </p>

    <p>
      Until 2015-10-22 the site was hosted by <a href="https://byet.host/">Byet
      Internet Services</a>. There is still a copy <a href="http://petef.22web.org">http://petef.22web.org</a> on there but it may be out of
      date and lacking features of the current site. On 2012-05-07 my domain was
      changed from http://petef.22web.net
    </p>

    <p>
      The site was previously on http://petef.port5.com but the host changed
      owners on 2007-12-07.
    </p>

    <p>
      I have been running a public web site since 2000-06-30. The <a href="/">PAYG</a> tariff information started
      on 2008-02-07.
    </p>
    <hr>
    <address class="vcard"><span class="fn">Pete Forman</span>
      <a class="email" href="mailto:petef4+web@gmail.com">Mail</a>
      <a class="url" href="/home">Home</a>
      <a href="/links">Links</a>
    </address>
    <p class="modified">
<!-- Created: Fri Jun 30 10:34:35 BST 2000 -->
<!-- hhmts start --> Last modified: 2015-10-22T21:54:53+01:00<!-- hhmts end -->
    </p>
  </body>
</html>
