<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>PAYG Tariffs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='{{ http }}://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Serif:700'
          rel='stylesheet' type='text/css'>
    <link rel=stylesheet href="/static/site.css" type="text/css">
    <link rel=stylesheet href="/static/payg.css" type="text/css">
    <link href="/static/papertape.ico" type="image/x-icon" rel="shortcut icon">
  </head>

  <body>
    <h1>PAYG Tariffs</h1>

    <div class="multicolumn">
      <div class="good leftplain">
        <h3>TL;DR cheapest rates are</h3>
        <ul>
          <li>
            <a href="http://www.three.co.uk/Store/Pay_As_You_Go_Price_Plans">Three</a> and
            <a href="http://www.delightmobile.co.uk/view/rates/UKRates.aspx">Delight</a>
            — 3p / min, 2p / text, 1p / MB.
          </li>
        </ul>
        <h3>Other cheap rates are</h3>
        <ul>
          <li>
            For text (3p) —
            <a href="https://www.thepeoplesoperator.com/tpo_payg_rates">The People’s Operator</a> and
            <a href="https://tello.co.uk/rates/pay_as_you_go">Tello</a>
          </li>
          <li>
            For voice (3p) —
            <a href="https://tello.co.uk/rates/pay_as_you_go">Tello</a> or
            <a href="http://www.togglemobile.co.uk/tariffs/en">toggle</a>
          </li>
          <li>
            For free voicemail —
            <a href="http://secure.callandgive.com/CallAndGive/rates.jsp">Call&amp;Give</a>,
            <a href="http://www.gtmobile.co.uk/en/national-rates">GT Mobile</a>,
            <a href="http://kingdommobile.co.uk/rates">Kingdom</a>,
            <a href="http://www.lomomobile.com/">Lomo</a>,
            <a href="http://www.lycamobile.co.uk">Lycamobile</a>,
            <a href="http://www.nowmobile.co.uk/home.jsp">Now</a>,
            <a href="http://the.pebble.network/payasyougo.html">Pebble</a>,
            <a href="http://secure.talkhomemobile.com/THMobile/rates.jsp">Talk Home</a> and
            <a href="http://www.whitemobile.com/cheap-calls-to/united-kingdom/">White</a>
          </li>
          <li>
            For minimum call charge (1p) —
            <a href="http://payg.thephone.coop/tariffs-and-bundles/">Co-operative</a> and
            <a href="http://www.virginmobile.com/vm/home.do">Virgin</a>
          </li>
          <li>
            For data (1p / MB) —
            <a href="https://www.thepeoplesoperator.com/tpo_payg_rates">The People’s Operator</a> and
            <a href="https://tello.co.uk/rates/pay_as_you_go">Tello</a>
          </li>
        </ul>
        <p>
          The plan which I use is
          <a href="http://talkmobile.co.uk/help/payg/payg-charges/">Talkmobile Essential</a>
        </p>
      </div>
    </div>
    <p>
      These are the rates for true pay as you go tariffs only. Some other plans
      are labelled PAYG but require monthly top-ups, etc. Plans which are not
      open to new customers are also excluded. So Orange and T-Mobile are no
      longer listed as EE is the only brand available.
    </p>

    <p>
      <span class="bigger">Other sites</span> with information similar to here
      are
    </p>
    <ul>
      <li>
        <a href="http://mobilenetworkcomparison.org.uk/compare/">Mobile Network Comparison</a>
        has a sortable table
      </li>
      <li>
        <a href="http://www.paygdeal.co.uk">PAYGdeal</a> has great coverage
        of add-ons and a calculator
      </li>
      <li>
        <a href="http://kenstechtips.com">Ken’s Tech Tips</a> has many useful
        articles including
        <ul>
          <li>
            <a href="http://kenstechtips.com/index.php/compare-pay-as-you-go-networks">Price &amp; coverage comparison</a>
            (2014-12-05)
          </li>
          <li>
            <a href="http://kenstechtips.com/index.php/the-uks-6-best-value-smartphone-sim-only-tariffs-with-internet-access">Smartphone SIM only comparison</a>
            (2014-09-23)
          </li>
          <li>
            <a href="http://paygvscontract.com/">paygvscontract.com</a>
            compares smartphone tariffs
          </li>
        </ul>
      </li>
      <li>
        <a href="http://sim.fm">SIM.fm</a> has pages for 16 PAYG plans
      </li>
      <li>
        <a href="http://www.hotsimonlydeals.com/sim-only.html">Hot SIM Only Deals</a>
        lists deals for SIM only contracts.
      </li>
    </ul>
    <p>
      <span class="bigger">Discounts</span> are often available when
      committing to some usage (aka add-ons or bolt-ons). Many plans give free
      credits when a top-up is made but these tend to be valid for 30 days
      only. Extra services are available, some of which are free. Follow the
      links for individual plans to find out more. Some of the better hidden
      fine print can be found in the
      <span class="fine-print">plan details</span> links of the operators
      column.
    </p>
    <p>
      <span class="bigger">Non-geographic numbers</span> are now regulated by
      Ofcom. Numbers starting 0800, 0808 and 116 are free from mobiles, as they
      always have been from landlines. For numbers starting 084, 087, 09 and 118
      there is a cleaner charge structure. Calls to them have an access charge
      plus a service charge. The access charge is set by the mobile operator and
      is listed here in the 08x column. The service charge is set by the company
      you are calling.
    </p>
    <p>
      For example, if you call 118 118 from EE, the access charge is 44p per
      minute and the service charge is £2.75 per call plus £2.99 per minute. So
      if your call is less than a minute it will cost £6.18.
    </p>
    <p>
      <span class="bigger">The four main networks</span> are EE, O2, Vodafone
      and 3. EE also runs the Orange and T-Mobile brands for old accounts. 3 and
      EE have a joint venture <a href="http://www.mbnl.co.uk/">MBNL</a> to
      combine their 3G networks. O2 and Vodafone have their own joint venture
      called Cornerstone to share masts. This should lead to two coverage maps
      to consider rather than four or five. BT are taking over EE and 3 is
      merging with O2.
    </p>
    <p>
      <span class="bigger">MVNOs</span> are operators who do not run their own
      network. The ones who target UK usage are allpay Mobile, Asda,
      Call&amp;Give, co-operative mobile, Delight Mobile, giffgaff, Mobile by
      The People’s Operator, Post Office Mobile, Talkmobile, talkxtra, Tello,
      Tesco and Virgin Mobile. Those geared towards international plans include
      AfriMobile, CTExcelbiz, Econet, Globe UK, GT Mobile, Jadoo, Kingdom
      mobile, Kontakt, Lebara, Lomo Mobile, Lycamobile, Now Mobile, SMART UK,
      Talk Home, Vectone and White Mobile. Aether, Auracall, GO-SIM, Maxroam,
      Pebble, toggle and Truphone are pitching themselves as roaming
      MVNOs. <a href="http://www.mvnodynamics.com/">MVNO Dynamics</a> (formerly
      Prepaid MVNO) reports that there are 92 MVNOs as of May 2013, and
      <a href="http://www.telecompaper.com/research/mvno-list/united-kingdom">Telecompaper</a>
      lists 54, though not all offer PAYG.
    </p>
    <p>
      There are 40 operators listed here offering 44 PAYG plans.
    </p>
    <p>
      <span class="bigger">Coverage maps</span> are linked to in the Network
      column. The
      <a href="http://maps.mobileworldlive.com/network.php?cid=39&amp;cname=United%20Kingdom">GSMA</a>
      have coverage maps for most of the 2G, 3G and 4G networks. It is unclear
      whether EE’s Smart Signal Sharing applies to all its MVNOs yet. Several
      operators charge a premium for 4G.
    </p>
    <p>
      <span class="bigger">Free credit</span> is given by many plans on each
      top-up. It generally lasts for 30 days, though often restricted to their
      own numbers. The footnotes show exceptions. Best is
      Kontakt<a href="#footnote4"><sup>4</sup></a>. Next best is Tesco which
      offers triple credit. Tesco has a minimum top-up of £10 and the bonus
      credit expires after 1 month.
    </p>
    <p>
      <span class="bigger">Minimum call charges</span> are generally one minute.
      The exceptions are Co-op and Virgin who have no minimum charge and time by
      one second intervals. After the first minute some operators round up call
      lengths to the next full minute and others charge by the second. The
      former effectively have higher charges than at first glance. See the Bill
      Per column.
    </p>
    <table>
      <tbody>
        <tr>
          <th rowspan="2">Operator</th>
          <th rowspan="2">Plan</th>
          <th colspan="3">Rate per min</th>
          <th rowspan="2">Minimum Charge</th>
          <th rowspan="2">Bill per</th>
          <th colspan="2">SMS per text</th>
          <th rowspan="2">Voice mail</th>
          <th rowspan="2">08x per min</th>
          <th rowspan="2">MMS</th>
          <th rowspan="2">Internet</th>
          <th rowspan="2">Network</th>
          <th rowspan="2">Checked</th>
        </tr>
        <tr>
          <th>Same</th>
          <th>Other</th>
          <th>Land</th>
          <th>Same</th>
          <th>Other</th>
        </tr>
        <tr>
          <td><a href="http://ee.co.uk">EE</a><br><a
              class="fine-print"
              href="http://ee.co.uk/help/add-ons-benefits-and-plans/price-plans-and-costs/ee-price-plans">(plan details)</a></td>
          <td><a href="http://shop.ee.co.uk/mobile-tariffs/sim-only-plans">PAYG</a></td>
          <td class="bad" colspan="3">30p</td>
          <td class="bad">30p</td>
          <td class="okay">min</td>
          <td class="poor" colspan="2">12p</td>
          <td class="bad">30p</td>
          <td class="bad">44p</td>
          <td class="bad">40p</td>
          <td class="na">Add-ons start from £1 / 100MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.o2.co.uk/">O2</a></td>
          <td class="iffy"><a href="http://www.o2.co.uk/tariffs/payandgo">Pay &amp; Go</a> <a
              href="#footnote1" title=
"O2 do not list a simple PAYG
plan on their web site, only
those with a monthly allowance."><sup>1</sup></a></td>
          <td class="bad iffy" colspan="3">30p</td>
          <td class="bad iffy">[1 min]</td>
          <td class="okay iffy">min</td>
          <td class="poor iffy" colspan="2">14p</td>
          <td class="poor iffy">20p / call</td>
          <td class="bad iffy">25p</td>
          <td class="okay iffy">25p</td>
          <td class="okay iffy">£1 / day</td>
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.vodafone.co.uk">Vodafone</a></td>
          <td><a
              href="http://www.vodafone.co.uk/shop/pay-as-you-go/call-charges/index.htm">PAYG</a></td>
          <td class="bad" colspan="3">30p</td>
          <td class="bad">30p</td>
          <td class="okay">min</td>
          <td class="bad" colspan="2">14p</td>
          <td class="bad">30p</td>
          <td class="bad">45p</td>
          <td class="bad">36p</td>
          <td class="poor">£2 / day for 50 MB then 10p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td class="good"><a href="http://www.three.co.uk/">3</a> <a
              href="#footnote2" title=
"3 gives you 150 MB of data
for free with each top-up.
That lasts for 30 days."><sup>2</sup></a><br><a class="fine-print"
              href="http://www.three.co.uk/Three_price_guide">(plan details)</a></td>
          <td class="good"><a href="http://www.three.co.uk/Store/Pay_As_You_Go_Price_Plans">Pay As You Go on Three</a></td>
          <td class="good" colspan="3">3p</td>
          <td class="good">3p</td>
          <td class="okay">min</td>
          <td class="good" colspan="2">2p</td>
          <td class="okay">3p</td>
          <td class="bad">25p</td>
          <td class="poor">31p</td>
          <td class="good">1p / MB and each top up gives 150 MB free<a
              href="#footnote2" title=
"3 gives you 150 MB of data
for free with each top-up.
That lasts for 30 days."><sup>2</sup></a></td>
          <td><a href="http://www.three.co.uk/Support/Coverage">3</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr class="first">
          <td><a href="http://www.allpaymobile.net/">allpay Mobile</a></td>
          <td><a href="http://www.allpaymobile.net/standard-rates">PAYG</a></td>
          <td class="good">5p</td>
          <td class="bad" colspan="2">25p</td>
          <td class="bad">[1 min]</td>
          <td class="good">sec</td>
          <td class="good">5p</td>
          <td class="okay">10p</td>
          <td class="bad">25p</td>
          <td class="na">n/a</td>
          <td class="poor">30p</td>
          <td class="okay">25p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td class="good"><a href="https://mobile.asda.com/">Asda</a></td>
          <td class="good"><a href="https://mobile.asda.com/pages/rates-and-services">PAYG</a></td>
          <td class="good" colspan="3">8p</td>
          <td class="good">8p</td>
          <td class="okay">min</td>
          <td class="good" colspan="2">4p</td>
          <td class="okay">8p</td>
          <td class="good">8p</td>
          <td class="okay">25p</td>
          <td class="good">5p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a>
          </td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.callandgive.com">Call&amp;Give</a></td>
          <td><a href="http://secure.callandgive.com/CallAndGive/rates.jsp">PAYG</a></td>
          <td class="good" colspan="3">10p</td>
          <td class="poor">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">10p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="okay">45p</td>
          <td class="good">15p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="http://payg.thephone.coop">The co-operative mobile</a></td>
          <td><a href="http://payg.thephone.coop/tariffs-and-bundles/">PAYG</a></td>
          <td class="good">4p</td>
          <td class="good" colspan="2">8p</td>
          <td class="good">1p</td>
          <td class="good">sec</td>
          <td class="good">2p</td>
          <td class="good">4p</td>
          <td class="okay">4p</td>
          <td class="poor">21p</td>
          <td class="okay">25p</td>
          <td class="good">5p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
       <tr>
          <td class="good"><a href="http://www.delightmobile.co.uk/">Delight Mobile</a></td>
          <td class="good"><a href="http://www.delightmobile.co.uk/view/rates/UKRates.aspx">1 2 3</a></td>
          <td class="good">Free</td>
          <td class="good" colspan="2">3p</td>
          <td class="good">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="good">2p</td>
          <td class="okay">5p</td>
          <td class="na">n/a</td>
          <td class="okay">25p</td>
          <td class="good">1p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://giffgaff.com/">giffgaff</a></td>
          <td><a href="http://giffgaff.com/index/pricing">PAYG</a></td>
          <td class="good">Free<a href="#footnote3" title=
"giffgaff free calls and texts
to giffgaff numbers lasts
for 3 months from each top up."><sup>3</sup></a></td>
          <td class="good" colspan="2">10p</td>
          <td class="good">[1 min]</td>
          <td class="good">sec</td>
          <td class="good">Free<a href="#footnote3" title=
"giffgaff free calls and texts
to giffgaff numbers lasts
for 3 months from each top up."><sup>3</sup></a></td>
          <td class="good">6p</td>
          <td class="okay">8p / call</td>
          <td class="poor">15p</td>
          <td class="good">16p</td>
          <td class="good">20p / day for 20 MB then 20p / MB</td>
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="https://www.thepeoplesoperator.com/">The People’s Operator</a></td>
          <td><a href="https://www.thepeoplesoperator.com/tpo_payg_rates">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good" colspan="2">5p</td>
          <td class="good">[1 min]</td>
          <td class="okay">min</td>
          <td class="good">Free</td>
          <td class="good">3p</td>
          <td class="okay">5p</td>
          <td class="good">5p</td>
          <td class="poor">30p</td>
          <td class="good">1p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://mobile.postoffice.co.uk/">Post Office Mobile</a></td>
          <td><a href="http://mobile.postoffice.co.uk/call-rates/">PAYG</a></td>
          <td class="good" colspan="3">8p</td>
          <td class="good">8p</td>
          <td class="okay">min</td>
          <td class="poor" colspan="2">10p</td>
          <td class="okay">8p</td>
          <td class="bad">30p</td>
          <td class="bad">40p</td>
          <td class="good">10p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a>
          </td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td class="good"><a href="http://talkmobile.co.uk/">Talkmobile</a>
          <td class="good"><a href="http://talkmobile.co.uk/help/payg/payg-charges/">PAYG Essentials</a></td>
          <td class="good">4p</td>
          <td class="good" colspan="2">8p</td>
          <td class="good">8p</td>
          <td class="good">min</td>
          <td class="good">2p</td>
          <td class="good">4p</td>
          <td class="okay">8p</td>
          <td class="poor">15p</td>
          <td class="okay">30p</td>
          <td class="okay">25p / day for 25 MB then 10p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-20</td>
        </tr>
        <tr>
          <td><a href="http://www.talkxtramobile.co.uk">talkxtra</a></td>
          <td><a href="http://www.talkxtramobile.co.uk/rates/">PAYG</a></td>
          <td class="good" colspan="3">7p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="okay" colspan="2">7p</td>
          <td class="okay">7p</td>
          <td class="na">n/a</td>
          <td class="poor">30p</td>
          <td class="good">7p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="https://tello.co.uk">Tello</a></td>
          <td><a href="https://tello.co.uk/rates/pay_as_you_go">PAYG</a></td>
          <td class="good" colspan="3">3p</td>
          <td class="good">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">3p</td>
          <td class="na">?</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">1p / MB</td>
          <td><a href="http://www.three.co.uk/Support/Coverage">3</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td rowspan="2"><a href="http://www.tescomobile.com">Tesco</a></td>
          <td><a
              href="http://www.tescomobile.com/help-and-support/1082-pay-as-you-go/1182-call-charges/call-charges-for-pay-as-you-go">PAYG</a></td>
          <td class="bad" colspan="3">25p</td>
          <td class="okay">10p</td>
          <td class="good">sec</td>
          <td class="okay" colspan="2">10p</td>
          <td class="poor">15p</td>
          <td rowspan="2" class="bad">25p</td>
          <td rowspan="2" class="okay">25p</td>
          <td rowspan="2" class="good">10p / MB</td>
          <td rowspan="2"><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td class="good"><a href="http://www.tescomobile.com/help-and-support/1082-pay-as-you-go/1182-call-charges/pay-as-you-go-lite-call-charges">PAYG Lite</a></td>
          <td class="good" colspan="3">8p</td>
          <td class="good">8p</td>
          <td class="good">sec</td>
          <td class="good" colspan="2">4p</td>
          <td class="okay">8p</td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td rowspan="3"><a href="http://www.virginmobile.com/vm/home.do">Virgin Mobile</a></td>
          <td><a
              href="http://store.virginmedia.com/virgin-media-mobile/pay-as-you-go/call-charges.html#big data">Big Data &amp; Texts</a></td>
          <td rowspan="2" class="bad" colspan="3">35p</td>
          <td rowspan="3" class="good">1p</td>
          <td rowspan="3" class="good">sec</td>
          <td rowspan="2" class="poor" colspan="2">12p</td>
          <td rowspan="3" class="bad">26p / call</td>
          <td rowspan="3" class="bad">36p</td>
          <td rowspan="3" class="poor">30p</td>
          <td rowspan="3" class="okay">£1 / day for 100 MB then £1 / 100 MB</td>
          <td rowspan="3"><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a
              href="http://store.virginmedia.com/virgin-media-mobile/pay-as-you-go/call-charges.html#big talk">Big Talk</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a
              href="http://store.virginmedia.com/virgin-media-mobile/pay-as-you-go/call-charges.html#starter">Starter</a></td>
          <td class="bad" colspan="3">40p</td>
          <td class="poor" colspan="2">15p</td>
          <td>2015-07-05</td>
        </tr>
        <tr class="first">
          <td><a href="http://sim.afrimobile.co.uk/">AfriMobile</a></td>
          <td><a href="http://sim.afrimobile.co.uk/#rates_page">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good">10p</td>
          <td class="good">5p</td>
          <td class="okay">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="okay">10p</td>
          <td class="poor">10p</td>
          <td class="na">n/a</td>
          <td class="bad">40p</td>
          <td class="good">10p / MB</td>
          <td><a href="http://www.three.co.uk/Support/Coverage">3</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.ctexcel.com/index.jsp">CTExcelbiz</a></td>
          <td><a href="http://www.ctexcel.com/rates.jsp">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good">8p</td>
          <td class="good">4p</td>
          <td class="good">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="okay" colspan="2">10p</td>
          <td class="okay">8p</td>
          <td class="good">8p</td>
          <td class="bad">45p</td>
          <td class="good">5p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="http://www.econetmobile.com/">Econet</a></td>
          <td><a href="http://www.econetmobile.com/#national_panel">PAYG</a></td>
          <td class="good">3p</td>
          <td class="good">10p</td>
          <td class="good">5p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="okay" colspan="2">10p</td>
          <td class="poor">15p</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">10p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.ukglobetel.com/">Globe UK</a></td>
          <td><a href="http://www.ukglobetel.com/tariffs-new/uk-sim/domestic/">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good">10p</td>
          <td class="good">5p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="okay">10p</td>
          <td class="poor">10p</td>
          <td class="okay">10p</td>
          <td class="bad">45p</td>
          <td class="good">10p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.gtmobile.co.uk/en">GT Mobile</a></td>
          <td><a href="http://www.gtmobile.co.uk/en/national-rates">PAYG</a></td>
          <td class="good">Free</td>
          <td class="poor">19p</td>
          <td class="okay">12p</td>
          <td class="bad">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="bad">19p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">9p / MB</td>
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-20</td>
        </tr>
        <tr>
          <td><a href="http://www.jadoo.com/">Jadoo</a></td>
          <td><a href="http://www.jadoo.com/tariff">PAYG</a></td>
          <td class="good" colspan="3">4p</td>
          <td class="good">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">4p</td>
          <td class="okay">4p</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">10p / MB</td>
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="http://kingdommobile.co.uk/">Kingdom mobile</a></td>
          <td><a href="http://kingdommobile.co.uk/rates">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good">10p</td>
          <td class="good">5p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="okay">10p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="bad">45p</td>
          <td class="good">10p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="http://www.kontaktmobile.co.uk/">Kontakt Mobile</a>
            <a href="#footnote4" title=
"Kontakt Top Up doubles up the credit
with the bonus lasting two months,
Flex Package quadruples it with the
bonus lasting one month. The bundles
also include free internet of 250 MB
and 500 MB respectively."><sup>4</sup></a></td>
          <td><a href="http://www.kontaktmobile.co.uk/rates">PAYG</a></td>
          <td class="good" colspan="3">Free or 9p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">Free or 9p</td>
          <td class="okay">9p</td>
          <td class="na">n/a</td>
          <td class="poor">28p ?</td>
          <td class="good">Free or 9p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.lebara-mobile.co.uk/en/">Lebara</a></td>
          <td><a href="http://www.lebara-mobile.co.uk/prepay/rates">PAYG</a></td>
          <td class="good">Free</td>
          <td class="poor" colspan="2">19p</td>
          <td class="bad">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="bad">19p</td>
          <td class="bad">19p</td>
          <td class="bad">25p</td>
          <td class="bad">45p</td>
          <td class="good">1 MB / day free then 19p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-11</td>
        </tr>
        <tr>
          <td><a href="http://www.lomomobile.com/">Lomo Mobile</a></td>
          <td><a
              href="http://www.lomomobile.com/rate/roamingrates/">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good" colspan="2">7p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="good">5p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="okay">25p</td>
          <td class="good">9p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.lycamobile.co.uk">Lycamobile</a></td>
          <td><a href="http://www.lycamobile.co.uk/en/nationalrates">PAYG</a></td>
          <td class="good">Free</td>
          <td class="poor">19p</td>
          <td class="okay">12p</td>
          <td class="bad">[1min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="bad">19p</td>
          <td class="good">Free</td>
          <td class="bad">23p</td>
          <td class="na">?</td>
          <td class="good">9p / MB</td>
<!-- Lycamobile used to be on Orange with 075 numbers. That is phased out and
  now all are 074 numbers on O2 on what used to be called Lycamobile PLUS. -->
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.nowmobile.co.uk/home.jsp">Now Mobile</a></td>
          <td><a href="http://secure.nowmobile.co.uk/nowmobile/rates.jsp">PAYG</a></td>
          <td class="good">5p</td>
          <td class="good">10p</td>
          <td class="good">5p</td>
          <td class="okay">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">2p</td>
          <td class="okay">10p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="okay">25p</td>
          <td class="good">15p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="https://www.smartsimuk.com/">SMART UK</a></td>
          <td><a href="https://www.smartsimuk.com/smartuk-rates/">PAYG</a></td>
          <td class="good">3p</td>
          <td class="good" colspan="2">6p</td>
          <td class="okay">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="okay">8p</td>
          <td class="okay">10p</td>
          <td class="na">?</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">5p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a>?</td>
          <td>2015-07-11</td>
        </tr>
        <tr>
          <td><a href="http://www.talkhomemobile.com/">Talk Home</a></td>
          <td><a href="http://www2.talkhomemobile.com/rates">PAYG</a></td>
          <td class="good">Free</td>
          <td class="okay">15p</td>
          <td class="good">9p</td>
          <td class="poor">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="poor">15p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="okay">25p</td>
          <td class="good">8p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.vectonemobile.co.uk/">Vectone</a></td>
          <td><a href="http://www.vectonemobile.co.uk/pay-as-you-go/vm-rates/standard/national-rates.aspx">Mobile</a></td>
          <td class="good">Free</td>
          <td class="poor">19p</td>
          <td class="okay">12p</td>
          <td class="bad">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="bad">19p</td>
          <td class="poor">10p</td>
          <td class="na">n/a</td>
          <td class="okay">25p</td>
          <td class="good">9p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td class="good"><a href="http://www.whitemobile.com/">White Mobile</a></td>
          <td class="good"><a href="http://www.whitemobile.com/cheap-calls-to/united-kingdom/">PAYG</a></td>
          <td class="good">Free</td>
          <td class="good">6p</td>
          <td class="good">3p</td>
          <td class="good">[1 min]</td>
          <td class="okay">[min]</td>
          <td class="good">Free</td>
          <td class="good">5p</td>
          <td class="good">Free</td>
          <td class="good">8p</td>
          <td class="na">?</td>
          <td class="good">2.5p / MB</td>
          <td><a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr class="first">
          <td><a href="http://www.aether-mobile.com/">Aether</a>
            <a href="#footnote5" title=
"This uses an Isle of Man number
which will cost most of your
callers extra even though it
starts with 07."><sup>5</sup></a></td>
          <td><a href="http://www.aether-mobile.com/ratecheck.php">Mobile</a></td>
          <td class="good" colspan="3">10p</td>
          <td class="okay">10p</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">7p</td>
          <td class="na">?</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">6p / MB (EE) or <span class="okay">45p / MB (O2)</span></td>
          <td>
            <a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a> and
            <a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a>
          </td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="https://www.traveltalksim.com/auracall/home">Auracall</a>
            <a href="#footnote5" title=
"This uses an Isle of Man number
which will cost most of your
callers extra even though it
starts with 07."><sup>5</sup></a></td>
          <td><a href="https://www.traveltalksim.com/auracall/rates">Traveltalk</a></td>
          <td class="okay" colspan="3">15p</td>
          <td class="poor">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">5.8p</td>
          <td class="na">?</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">20p / MB</td>
          <td>
            <a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a>,
            <a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a>,
            <a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a>,
            <a href="http://www.three.co.uk/Support/Coverage">3</a>
          </td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td rowspan="2"><a href="http://www.gosim.com/">GO-SIM</a>
            <a href="#footnote5" title=
"This uses a Jersey number
which will cost most of your
callers extra even though it
starts with 07."><sup>5</sup></a></td>
          <td><a href="http://www.gosim.com/europe-sim-card.html">Europe</a></td>
          <td class="poor" colspan="3">16p</td>
          <td class="poor">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="bad" colspan="2">16p</td>
          <td class="poor">16p</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">16p / MB</td>
          <td rowspan="2">
            <a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a>,
            <a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a>,
            <a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a>,
            <a href="http://www.three.co.uk/Support/Coverage">3</a>
          </td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="http://www.gosim.com/gosim-international-sim-card.html">International</a></td>
          <td class="bad" colspan="3">22p</td>
          <td class="bad">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="okay" colspan="2">10p</td>
          <td class="bad">22p</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="okay">22p / MB</td>
          <td>2015-07-12</td>
        </tr>
        <tr>
          <td><a href="http://www.maxroam.com/Home.aspx?cur=GBP">Maxroam</a></td>
          <td><a href="http://www.maxroam.com/Info/RatesCoverage.aspx?cur=GBP">Global SIM + UK</a></td>
          <td class="good" colspan="3">9p</td>
          <td class="okay">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">5p</td>
          <td class="na">?</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">8p / MB</td>
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a> and
            <a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://the.pebble.network/">Pebble</a></td>
          <td><a href="http://the.pebble.network/payasyougo.html">PAYG</a></td>
          <td class="bad" colspan="3">25p</td>
          <td class="bad">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="poor" colspan="2">12p</td>
          <td class="good">Free</td>
          <td class="bad">25p</td>
          <td class="na">?</td>
          <td class="okay">25p / MB</td>
          <td>
            <a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a> and
            <a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a>,
            <a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-20</td>
        </tr>
        <tr>
          <td class="good"><a href="http://www.togglemobile.co.uk/home/en">toggle</a></td>
          <td class="good"><a href="http://www.togglemobile.co.uk/tariffs/en">mobile</a></td>
          <td class="good" colspan="3">3p</td>
          <td class="good">3p</td>
          <td class="okay">[min]</td>
          <td class="okay" colspan="2">7p</td>
          <td class="good">Free</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">15p / MB</td>
          <td><a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <td><a href="http://www.truphone.com/uk/">Truphone</a></td>
          <td><a href="http://www.truphone.com/uk/lp/Rate-checker/">PAYG</a></td>
          <td class="good" colspan="3">6p</td>
          <td class="good">[1 min?]</td>
          <td class="okay">[min]</td>
          <td class="good" colspan="2">6p</td>
          <td class="na">?</td>
          <td class="na">n/a</td>
          <td class="na">?</td>
          <td class="good">6p / MB</td>
          <td><a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a></td>
          <td>2015-07-05</td>
        </tr>
        <tr>
          <th rowspan="4">Key</th>
          <th class="good">Good</th>
          <td class="good" colspan="3">10p</td>
          <td class="good">8p</td>
          <td class="good">sec</td>
          <td class="good" colspan="2">6p</td>
          <td class="good">Free</td>
          <td class="good">8p</td>
          <td class="good">20p</td>
          <td class="good">20p / MB or 30p / day</td>
          <td rowspan="4" colspan="2"></td>
        </tr>
        <tr>
          <th class="okay">Okay</th>
          <td class="okay" colspan="3">15p</td>
          <td class="okay">11p</td>
          <td class="okay">min</td>
          <td class="okay" colspan="2">11p</td>
          <td class="okay">9p</td>
          <td class="okay">12p</td>
          <td class="okay">25p</td>
          <td class="okay">60p / MB or £1 / day</td>
        </tr>
        <tr>
          <th class="poor">Poor</th>
          <td class="poor" colspan="3">21p</td>
          <td class="poor">16p</td>
          <td> </td>
          <td class="poor" colspan="2">12p</td>
          <td class="poor">16p</td>
          <td class="poor">21p</td>
          <td class="poor">21p</td>
          <td class="poor">£2 / MB or £2 / day</td>
        </tr>
        <tr>
          <th class="bad">Bad</th>
          <td class="bad" colspan="3">26p</td>
          <td class="bad">26p</td>
          <td> </td>
          <td class="bad" colspan="2">20p</td>
          <td class="bad">36p</td>
          <td class="bad">30p</td>
          <td class="bad">45p</td>
          <td class="bad">£5 / MB</td>
        </tr>
      </tbody>
    </table>
    <p>
      <span class="bigger">Footnotes</span>
    </p>
    <p id="footnote1">
      <sup>1</sup> O2 do not list a simple PAYG plan on their web site, only
      those with a monthly allowance.
    </p>
    <p id="footnote2">
      <sup>2</sup> 3 gives you 150 MB of data for free with each top-up. That
      lasts for 30 days.
    </p>
    <p id="footnote3">
      <sup>3</sup> giffgaff free calls and texts to giffgaff numbers lasts for 3
      months from each top up.
    </p>
    <p id="footnote4">
      <sup>4</sup> <a href="https://www.kontaktmobile.co.uk/shop">Kontakt</a>
      Top Up doubles up the credit with the bonus lasting two months, Flex
      Package quadruples it with the bonus lasting one month. The bundles also
      include free internet of 250 MB and 500 MB respectively.
    </p>
    <p id="footnote5">
      <sup>5</sup> Aether, Auracall and GO-SIM have mobile numbers issued in the
      Isle of Man or Jersey. Those are not UK 07 numbers and most other
      operators charge extra to call them, the calls are not in most inclusive
      plans or contracts.
    </p>
    <p>
      <span class="bigger">Defunct</span> operators or those that no longer
      accept new customers include Alpha Mobile, Banana Mobile, Boy Better Know,
      C Mobile, Dalya Mobile, DiDa Mobile, Dialog Vizz, DobryTel, Donate Mobile,
      easyMobile, Family Mobile, Freedom Talk, Fresh, GlobalCell, iCard, IDT,
      Kite, Nomi, Orange (now EE), Ovivo, Priyomobile, RSPCA, Sainsbury’s, SMART
      Pinoy (now SMART UK), Shebang, Simfiniti, SimpleCall, Soccertel, T-Mobile
      (now EE), TalkTalk, Utility Warehouse, Victory Mobile, Wolves Mobile and
      WWF Wildlife Mobile.
    </p>
    <p>
      <span class="bigger">Contract only</span> operators or those with minimum spends include
      <a href="http://anywheresim.com">anywhere sim</a> (“PAYG” but minimum monthly),
      <a href="http://axisforbusiness.co.uk/mobile/mobile-options">Axis</a>,
      <a href="http://www.bemilo.com/what-does-it-cost">Bemilo</a> (PAYG + parental control),
      <a href="http://www.productsandservices.bt.com/products/4g-sim-only-plans">BT Mobile</a>,
      <a href="http://www.idmobile.co.uk/">iD Mobile</a>,
      <a href="https://www.joitelecom.co.uk/">JOi</a>,
      <a href="http://life-mobile.co.uk/">LIFE Mobile</a>,
      <a href="http://www.ageuk.org.uk/products/computing-and-phones/mobile-phones/">Ownfone</a> (Age UK),
      <a href="http://www.rokmobile.co.uk/">ROK Mobile</a> (music bundled) and
      <a href="http://mobile.talktalk.co.uk/">TalkTalk</a>.
    </p>
    <hr>
    <address class="vcard">
      <span class="fn">Pete Forman</span>
      <a class="email" href="mailto:petef4+web@gmail.com">Mail</a>
      <a class="url" href="/home">Home</a>
    </address>
    <p class="modified">
<!-- Created: 2008-02-07T13:09:42+00:00 -->
<!-- hhmts start -->Last modified: 2015-10-20T20:32:56+01:00<!-- hhmts end -->
    </p>
  </body>
</html>
