{%- macro pence(num) -%}
  {%- if num is number -%}
    {%- if num >= 100 -%}
      £{{ num // 100 }}
      {%- if num % 100 != 0 -%}
        {{ '.%02d'|format( num % 100) }}
      {%- endif -%}
    {%- else -%}
      {{ num }}p
    {%- endif -%}
  {%- else -%}
    {{ num }}
  {%- endif -%}
{%- endmacro %}

{%- macro td(r, c) %}
          <td
    {%- if r.get(c + '.grade') %} class="{{ r.get(c + '.grade') }}"
    {%- endif %} sorttable_customkey="{{ r.get(c + '.key') }}">
    {%- if r.get(c + '.url') -%}
            <a
      {%- if r.get(c + '.logo') %} class="logo" style="background-position: 0px {{ r.get(c + '.logo_pos') }}px"
      {%- endif %} href="{{ r.get(c + '.url') }}">{{ r.get(c) }}</a>
    {%- else -%}
      {{ pence(r.get(c)) }}
    {%- endif -%}
  </td>
{%- endmacro -%}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>PAYG Tariffs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='{{ http }}://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Serif:700'
          rel='stylesheet' type='text/css'>
    <link rel=stylesheet href="/static/site.css" type="text/css">
    <link rel=stylesheet href="/static/payg.css" type="text/css">
    <link href="/static/papertape.ico" type="image/x-icon" rel="shortcut icon">
    <style type="text/css">
      .notice { background: #ffffff; font-size: 21px; border: 0.5em solid #ffa500; margin: 10px;}
    </style>
    <script src="/static/sorttable.js" type="text/javascript"></script>
  </head>

  <body>
    <h1>PAYG Tariffs</h1>

    <div class="notice">
      <p>
        Warning: this site is moving to a new URL on 2017-10-01.
      </p>
    </div>

    <div class="multicolumn">
      <div class="tldr leftplain">
        <h3>TL;DR cheapest rate is</h3>
        <ul>
          <li>
            <a href="https://www.1pmobile.com/">1pMobile</a> — 1p / min, 1p / text, 1p / MB
          </li>
        </ul>
        <h3>Other cheap rates are</h3>
        <ul>
          <li>
            <a href="http://www.three.co.uk/Store/Pay_As_You_Go_Price_Plans">Three</a> and
            <a href="https://www.idmobile.co.uk/help-and-advice/call-charges">iD Mobile</a>
            — 3p / min, 2p / text, 1p / MB.
          </li>
          <li>
            <a href="https://www.thepeoplesoperator.com/tpo_payg_rates">The People’s Operator</a>
            — 4p / min, 3p / text, 2p / MB.
          </li>
          <li>
            For free voicemail —
            <a href="https://www.c4cmobile.com/tariffs/rates/">C4C</a>,
            <a href="http://secure.callandgive.com/CallAndGive/rates.jsp">Call&amp;Give</a>,
            <a href="http://www.championsmobile.co.uk/rates/">Champions</a>,
            <a href="https://fonome.com/">Fonome</a>,
            <a href="http://www.lomomobile.com/">Lomo</a>,
            <a href="http://www.lycamobile.co.uk">Lycamobile</a>,
            <a href="http://www.nowmobile.co.uk/home.jsp">Now</a>,
            <a href="https://pebblenetwork.ltd.uk/payasyougo.html">Pebble</a>,
            <a href="http://secure.talkhomemobile.com/THMobile/rates.jsp">Talk Home</a>,
            <a href="http://www.togglemobile.co.uk/tariffs/en">toggle</a> and
            <a href="http://www.whitemobile.com/cheap-calls-to/united-kingdom/">White</a>
          </li>
          <li>
            For minimum call charge (1p) —
            <a href="http://payg.thephone.coop/tariffs-and-bundles/">Co-operative</a> and
            <a href="http://www.virginmobile.com/vm/home.do">Virgin</a>
          </li>
          <li>
            Restrictive —
            <a href="http://www.delightmobile.co.uk/view/rates/UKRates.aspx">Delight</a>
            (3p/2p/1p) is good but top-up credits expire after 90 days
          </li>
        </ul>
        <p>
          The plan which I use is
          <a href="http://talkmobile.co.uk/help/payg/payg-charges/">Talkmobile Happy Hour</a><a href="#footnote2"><sup>2</sup></a>
          but that is shutting down on 2017-08-31.
        </p>
      </div>
    </div>
    <p>
      These are the rates for true pay as you go tariffs only. Some other plans
      are labelled PAYG but require monthly top-ups, etc. Plans which are not
      open to new customers are also excluded.
    </p>
    <table class="sortable">
      <thead>
        <tr>
          <th title="Company operating the service">Operator</th>
          <th title="Some offer more than one">Plan</th>
          <th title="Calls to the same operator.
Often only valid 30 days from top-up.">Same / min</th>
          <th title="Calls to 07 numbers but not
070 (personal), 076 (pagers)
and others which are more
expensive. See notes below.">Other / min</th>
          <th title="01, 02 and 03 numbers">Land / min</th>
          <th title="One minute assumed if not documented">Minimum Charge</th>
          <th title="Call duration rounded up to this">Bill per</th>
          {% if do_average -%}
          <th>Avg / min</th>
          {%- endif %}
          <th title="SMS to the same operator">Same / text</th>
          <th title="SMS to other operators">Other / text</th>
          <th title="Per minute unless otherwise noted">Voice mail / min</th>
          <th title="084, 087, 09 and 118
access charge to be added
to the service charge.
0800, 0808 and 116 are
always free. See notes.">08x / min</th>
          <th title="Picture message">MMS</th>
          <th title="4G">4G</th>
          <th title="Tethering allowed">Tether</th>
          <th title="Data">Internet</th>
          <th title="Use this to assess coverage">Network</th>
          <th title="Date this operator last checked">Checked</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th rowspan="4">Key</th>
          <th class="good">Good</th>
          <td class="good" colspan="3">{{ pence(grading.min_.good // 10) }}</td>
          <td class="good">{{ pence(grading.charge_min.good // 10) }}</td>
          <td class="good">sec</td>
          <td class="good">{{ pence(grading.min_.good // 10) }}</td>
          <td class="good" colspan="2">{{ pence(grading.sms_.good // 10) }}</td>
          <td class="good">Free</td>
          {% if do_average -%}
          <td class="good">{{ pence(grading.get('08x').good // 10) }}</td>
          {%- endif %}
          <td class="good">{{ pence(grading.mms.good // 10) }}</td>
          <td class="good">Yes</td>
          <td class="good">Yes</td>
          <td class="good">{{ pence(grading.data.good // 10) }} / day</td>
          <td rowspan="4" colspan="2">Internet grading assumes {{ grading.data.get('MB / day') }}&nbsp;MB / day</td>
        </tr>
        <tr>
          <th class="okay">Okay</th>
          <td class="okay" colspan="3">{{ pence(grading.min_.okay // 10) }}</td>
          <td class="okay">{{ pence(grading.charge_min.okay // 10) }}</td>
          <td class="okay">min</td>
          {% if do_average -%}
          <td class="okay">{{ pence(grading.min_.okay // 10) }}</td>
          {%- endif %}
          <td class="okay" colspan="2">{{ pence(grading.sms_.okay // 10) }}</td>
          <td class="okay">{{ pence(grading.voicemail.okay // 10) }}</td>
          <td class="okay">{{ pence(grading.get('08x').okay // 10) }}</td>
          <td class="okay">{{ pence(grading.mms.okay // 10) }}</td>
          <td class="okay">Soon</td>
          <td class="okay">Soon</td>
          <td class="okay">{{ pence(grading.data.okay // 10) }} / day</td>
        </tr>
        <tr>
          <th class="poor">Poor</th>
          <td class="poor" colspan="3">{{ pence(grading.min_.poor // 10) }}</td>
          <td class="poor">{{ pence(grading.charge_min.poor // 10) }}</td>
          <td> </td>
          {% if do_average -%}
          <td class="poor">{{ pence(grading.min_.poor // 10) }}</td>
          {%- endif %}
          <td class="poor" colspan="2">{{ pence(grading.sms_.poor // 10) }}</td>
          <td class="poor">{{ pence(grading.voicemail.poor // 10) }}</td>
          <td class="poor">{{ pence(grading.get('08x').poor // 10) }}</td>
          <td class="poor">{{ pence(grading.mms.poor // 10) }}</td>
          <td class="poor">No</td>
          <td class="poor">No</td>
          <td class="poor">{{ pence(grading.data.poor // 10) }} / day</td>
        </tr>
        <tr>
          <th class="bad">Bad</th>
          <td class="bad" colspan="3">{{ pence(grading.min_.bad // 10) }}</td>
          <td class="bad">{{ pence(grading.charge_min.bad // 10) }}</td>
          <td> </td>
          {% if do_average -%}
          <td class="bad">{{ pence(grading.min_.bad // 10) }}</td>
          {%- endif %}
          <td class="bad" colspan="2">{{ pence(grading.sms_.bad // 10) }}</td>
          <td class="bad">{{ pence(grading.voicemail.bad // 10) }}</td>
          <td class="bad">{{ pence(grading.get('08x').bad // 10) }}</td>
          <td class="bad">{{ pence(grading.mms.bad // 10) }}</td>
          <td> </td>
          <td> </td>
          <td class="bad">{{ pence(grading.data.bad // 10) }} / day</td>
        </tr>
      </tfoot>
      <tbody>
        {%- for row in data %}
        <tr>
          {%- for col in cols -%}
          {{ td(row, col) }}
          {%- endfor %}
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <p id="links">
      <span class="bigger">Other sites</span> with information similar to here
      are
    </p>
    <ul>
      <li>
        <a href="http://mobilenetworkcomparison.org.uk/compare/">Mobile Network
        Comparison</a> lists most PAYG plans but includes defunct ones
      </li>
      <li>
        <a href="http://kenstechtips.com">Ken’s Tech Tips</a> has many useful
        articles including
        <ul>
          <li>
            <a href="http://kenstechtips.com/index.php/compare-pay-as-you-go-networks">Price &amp; coverage comparison</a>
            (2017-04-23)
          </li>
          <li>
            <a href="http://kenstechtips.com/index.php/the-uks-6-best-value-smartphone-sim-only-tariffs-with-internet-access">Smartphone SIM only comparison</a>
            (2016-12-26)
          </li>
          <li>
            <a href="http://kenstechtips.com/index.php/special-rate-phone-numbers">08, 09 and 118 Phone Numbers</a>
            (2015-07-01)
          </li>
          <li>
            <a href="http://kenstechtips.com/index.php/uk-telephone-numbering-cost-from-mobile">Understanding UK Phone Numbers</a>
            (2013-11-23)
          </li>
          <li>
            <a href="http://paygvscontract.com/">paygvscontract.com</a>
            compares smartphone tariffs
          </li>
        </ul>
      </li>
      <li>
        <a href="http://www.paygdeal.co.uk">PAYGdeal</a> had great coverage
        of add-ons and a calculator but is a bit out of date
      </li>
      <li>
        <a href="http://sim.fm">SIM.fm</a> has pages for 16 PAYG plans
      </li>
      <li>
        <a href="http://www.hotsimonlydeals.com/sim-only.html">Hot SIM Only Deals</a>
        lists deals for SIM only contracts.
      </li>
      <li>
        <a href="http://mobile-networks-uk.weebly.com/payg-30-day-bundles.html">Mobile Networks UK</a> compares bundles
      </li>
    </ul>
    <p id="discount">
      <span class="bigger">Discounts</span> are often available when
      committing to some usage (aka add-ons or bolt-ons). Many plans give free
      credits when a top-up is made but these tend to be valid for 30 days
      only. Extra services are available, some of which are free. Follow the
      links for individual plans to find out more. Some of the better hidden
      fine print can be found in the
      <span class="fine-print">plan details</span> links of the operators
      column.
    </p>
    <p id="landline">
      <span class="bigger">01, 02 and 03</span> prefixed numbers are billed as
      landlines. Although 03 does not correspond to a geographic area it is
      guaranteed to be charged the same as 01 and 02.
    </p>
    <p id="mobile">
      <span class="bigger">Numbers starting 07</span> are mostly UK mobile and
      will be charged at the rate shown in the same or other column depending on
      whether the number shares your operator. There is no way of knowing that
      as the 5 digit prefix only indicates the original operator. Many numbers
      have been ported to different operators.
    </p>
    <p>
      070 and 076 numbers are for personal numbers and pagers. They attract
      higher charges for PAYG customers and are not included in contracts or
      bundles.
    </p>
    <p>
      There are more complicated exceptions. More than 40 prefixes are for
      Jersey, Guernsey or the Isle of Man; they are not part of the United
      Kingdom. Again they cost more from PAYG and are excluded from contracts.
      There may be other exceptions for niche services. The exceptions are not
      standard, you have to look in the fine print of each operator to see
      exactly which prefixes are excluded.
    <p id="nongeo">
      <span class="bigger">Non-geographic numbers</span> are now regulated by
      Ofcom. Numbers starting 0800, 0808 and 116 are free from mobiles, as they
      always have been from landlines. For numbers starting 084, 087, 09 and 118
      there is a cleaner charge structure. Calls to them have an access charge
      plus a service charge. The access charge is set by the mobile operator and
      is listed here in the 08x column. The service charge is set by the company
      you are calling.
    </p>
    <p>
      For example, if you call 118 118 from EE, the access charge is 44p per
      minute and the service charge is £4.49 to connect the call plus £4.49 per
      minute. So if your call is less than a minute it will cost £9.42.
    </p>
    <p id="mno">
      <span class="bigger">The four main networks</span> are EE, O2, Vodafone
      and 3. EE also runs the Orange and T-Mobile brands for old accounts. 3 and
      EE have a joint venture <a href="http://www.mbnl.co.uk/">MBNL</a> to
      combine their 3G networks. O2 and Vodafone have their own joint venture
      called Cornerstone (Beacon Programme) to share masts. This should lead to
      two coverage maps to consider rather than four or five. BT have taken over
      EE. 3 tried to merge with O2 but the regulators did not approve.
    </p>
    <p id="mvno">
      <span class="bigger">MVNOs</span> are operators who do not run their own
      network. The ones who target UK usage are 1pMobile, Asda, C4C Mobile,
      Call&amp;Give, co-operative mobile, Delight Mobile, Economy Mobile,
      giffgaff, iD Mobile, Mobile by The People’s Operator, RWG, Tesco and
      Virgin Mobile. Those geared towards international plans include
      AfriMobile, Champions, CTExcel, Fonome, Lebara, Lomo Mobile, Lycamobile,
      NordTelekom, Now Mobile, Talk Home, Telfoni, U2i, Vectone and White
      Mobile. Coming soon is <a href="https://smarty.co.uk/launch">Smarty</a>.
    </p>
    <p>
      Auracall, GO-SIM, Maxroam, Pebble, toggle and Truphone pitch
      themselves as roaming MVNOs. It is not possible to port numbers in and
      out, except for Pebble and toggle.
    </p>
    <p>
      There are {{ counts.operator }} operators listed here offering {{
      counts.plan }} PAYG plans. <a href="http://www.mvnodynamics.com/">MVNO
      Dynamics</a> (formerly Prepaid MVNO) reported that there were 92 MVNOs as of
      May 2013, and
      <a href="http://www.telecompaper.com/research/mvno-list/united-kingdom">Telecompaper</a>
      listed 54, though not all offer PAYG.
    </p>
    <p id="coverage">
      <span class="bigger">Coverage maps</span> are available on the main
      network sites:
      <a href="http://ee.co.uk/ee-and-me/network/4gee/coverage-checker">EE</a>,
      <a href="http://www.webmap.o2.co.uk/?Search=Search">O2</a>,
      <a href="http://www.vodafone.co.uk/our-network-and-coverage/uk-coverage-map/index.htm">Vodafone</a>,
      <a href="http://www.three.co.uk/Support/Coverage">3</a>.
      <a href="http://maps.ofcom.org.uk/check-coverage/">Ofcom</a> and
      <a href="http://maps.mobileworldlive.com/network.php?cid=39&amp;cname=United%20Kingdom">GSMA</a>
      have coverage maps for most of the 2G, 3G and 4G networks. Several MVNOs
      do not provide access to 4G.
    </p>
    <p id="bonus">
      <span class="bigger">Free credit</span> is given by many plans on each
      top-up. It generally lasts for 30 days, though often restricted to their
      own numbers. The footnotes show exceptions. Best is Tesco which
      offers triple credit. Tesco has a minimum top-up of £10 and the bonus
      credit expires after 1 month.
    </p>
    <p id="minimum">
      <span class="bigger">Minimum call charges</span> are generally one minute.
      The exceptions are Co-op and Virgin who have no minimum charge and time by
      one second intervals. After the first minute some operators round up call
      lengths to the next full minute and others charge by the second. The
      former effectively have higher charges than at first glance. See the Bill
      Per column.
    </p>
    <p id="inactivity">
      <span class="bigger">Inactivity</span> will cause your account to be
      terminated and unused credit lost. To avoid that you must make a
      chargeable call, text or data access, or top up within a period set out in
      the terms and conditions. That period is usually 180 days. Exceptions
      include C4C (30 days), White (60 days), Lebara, Lycamobile &amp; The
      People’s Operator (90 days) and 1pMobile &amp; iD (120 days). 1pMobile
      require that you top up (minimum £10) every 120 days but that credit does
      not expire. O2 require that you top up every 6 months.
    </p>
    <p>
      Regular credit is never lost if the activity criteria are met, except for
      <span class="poor">Delight and Vectone whose call credits expire
      after 90 days</span> and iD whose credits expire after 365 days.
      (Other operators’ <a href="#bonus">free or bonus credit</a>
      tends to expire after 30 days but their top-ups last
      indefinitely, subject to inactivity.)
    </p>
    <p id="tether">
      <span class="bigger">Tethering</span> (aka hotspots) is using your phone
      to provide mobile internet access to other devices such as laptops. Not
      all operators allow this.
    </p>
    <p id="defunct">
      <span class="bigger">Defunct</span> operators or those that no longer
      accept new customers include Aether, allpay Mobile, Alpha Mobile, Banana
      Mobile, Believe Mobile UK, bemilo, Boy Better Know, C Mobile, Connect
      Mobile UK, Dalya Mobile, DiDa Mobile, Dialog Vizz, DobryTel, Donate
      Mobile, easyMobile, Econet, Family Mobile, Free As You Go (aka As You Go),
      Freedom Talk, Fresh, GlobalCell, Globe UK, GT Mobile, iCard, IDT, Jadoo,
      Kingdom Mobile, Kite, Kontakt, LIFE Mobile (now Plusnet), MobileK, Nomi,
      Orange (now EE), Ovivo, Post Office Mobile, Priyomobile, RSPCA,
      Sainsbury’s, Smart World UK (aka SMART Pinoy), Shebang, Simfiniti,
      SimpleCall, Soccertel, Stan Mobile, Talkmobile, talkxtra, T-Mobile (now
      EE), Victory Mobile, Wolves Mobile and WWF Wildlife Mobile.
    </p>
    <!-- not sure about Olive Mobile UK -->
    <p id="nonpayg">
      <span class="bigger">Contract only</span> operators or those with minimum spends include
      <a href="http://anywheresim.com">anywhere sim</a> (“PAYG” but minimum monthly),
      <a href="http://axisforbusiness.co.uk/mobile/mobile-options">Axis</a>,
      <a href="http://www.productsandservices.bt.com/products/4g-sim-only-plans">BT Mobile</a>,
      <a href="https://candytelecom.co.uk/">Candy Telecom</a>,
      <a href="https://www.ecotalk.co.uk/">Ecotalk</a>,
      <a href="http://www.greenmobile.co.uk/index.html">Green Mobile</a>,
      <a href="https://www.joitelecom.co.uk/">JOi</a>,
      <a href="https://www.kcomhome.com/products/mobile/features/">KCOM</a>,
      <a href="https://meemmobile.com/">Meem</a>,
      <a href="http://www.ageuk.org.uk/products/computing-and-phones/mobile-phones/">Ownfone</a> (Age UK),
      <a href="https://www.plus.net/mobile">Plusnet Mobile</a> (was LIFE Mobile),
      <a href="http://www.rokmobile.co.uk/">ROK Mobile</a> (music bundled),
      <a href="https://www.sky.com/shop/mobile">Sky Mobile</a>,
      <a href="http://mobile.talktalk.co.uk/">TalkTalk</a>,
      <a href="https://tello.co.uk/">Tello</a> and
      <a href="https://www.utilitywarehouse.co.uk/services/mobile">Utility Warehouse</a>.
    </p>
    <p id="voip">
      <span class="bigger">VoIP</span> can offer a similar service to mobile
      phones but it does so using mobile data or Wi-Fi. It is not a completely
      seamless replacement yet. Best value is
      <a href="https://uk.freedompop.com/uk">FreedomPop</a> which offers
      <a href="https://uk.support.freedompop.com/app/featured/answer/id/2798">plans</a>
      starting from 200 min / 200 sms / 200 MB per month for free. I use that
      though primarily for data.
    </p>
    <p id="footnote">
      <span class="bigger">Footnotes</span>
    </p>
    <p id="footnote1">
      <sup>1</sup> giffgaff free calls and texts to giffgaff numbers lasts for 3
      months from each top-up.
    </p>
    <p id="footnote2">
      <sup>2</sup> Talkmobile Happy Hour has a flat 10p connection charge but
      then the rest of the call is free for up to 60 min. It is 8p / min after
      the hour is up. They are closed to new customers and will shut down on
      2017-08-31.
    </p>
    <p id="footnote3">
      <sup>3</sup> <span class="poor">Both of Fonome’s contact telephone numbers
        are currently unavailable.</span>
    </p>
    <p id="footnote4">
      <sup>4</sup> Auracall and GO-SIM have mobile numbers issued in the
      Isle of Man or Jersey. Those are not UK 07 numbers and most other
      operators charge extra to call them, the calls are not in most inclusive
      plans or contracts.
    </p>
    <p id="footnote5">
      <sup>5</sup> GO-SIM publish their rates in USD. You can buy
      credit in GBP but the effective call rates depend on the exchange rate.
    </p>
    <p id="footnote6">
      <sup>6</sup> <span class="poor">Maxroam charges 4p / min for incoming
      calls.</span> Incoming texts are free.
    </p>
    <hr>
    <address class="vcard">
      <span class="fn">Pete Forman</span>
      <a class="email" href="mailto:petef4+web@gmail.com">Mail</a>
      <a class="url" href="/home">Home</a>
    </address>
    <p class="modified">
<!-- Created: 2008-02-07T13:09:42+00:00 -->
<!-- hhmts start -->
Last modified: 2017-08-13T12:11:04+01:00
<!-- hhmts end -->
    </p>
  </body>
</html>
